<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd">

    <!--
        spring整合cxf客户端配置：
        1.服务地址
        2.服务接口类型
    -->
    <jaxws:client
        id="helloService"
        serviceClass="com.study.service.HelloWebService"
        address="http://localhost:8080/ws/hello"></jaxws:client>




</beans>